.logo {
    max-width: 4rem;
    max-height: 4rem;
}

.btn-google {
    color: rgb(223, 62, 48);
    width: 1.375rem;
    height: 1.375rem;
}

.btn-facebook {
    color: rgb(24, 119, 242);
}

.btn-twitter {
    color: rgb(28, 156, 234);
}

@media only screen and (min-width: 600px) {
    
}